[submodule "trace_index"]
	path = trace_index
	url = git@github.com:4d30/trace_index
[submodule "cafs"]
	path = cafs
	url = git@github.com:4d30/cafs
[submodule "rels"]
	path = rels
	url = git@github.com:4d30/rels.git
[submodule "attrs"]
	path = attrs
	url = git@github.com:4d30/attrs.git
